/**
 * Custom Colors - Rofi Colors
 **/

* {
    background:     #1A171CAA;
    background-alt: #322932FF;
    foreground:     #EEDDBBFF;
    selected:       #157F78FF;
    active:         #5B7035FF;
    urgent:         #DD3014FF;
}
