/**
 * Gruvbox Material Dark - Rofi Colors
 **/

* {
    background:     #282828AA;
    background-alt: #32302fFF;
    foreground:     #d4be98FF;
    selected:       #89B482FF;
    active:         #A9B665FF;
    urgent:         #ea6962FF;
}
